@model TatooTeans.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="register-form">
            <div class="register-wrap">
                <h3 class="center-block">Nuevo Usuario</h3>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Nombre
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="alert alert-danger">
                            @ViewBag.NOMBRE
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_book"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Apellido
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="alert alert-danger">
                            @ViewBag.APELLIDO
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_globe-2"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Fecha Nacimiento
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.FechaNac, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.FechaNac, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_map"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Distrito
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="alert alert-danger">
                            @ViewBag.DISTRITO
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_genius"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Direccion
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="alert alert-danger">
                            @ViewBag.DIRECCION
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_mail"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Correo
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="alert alert-danger">
                            @ViewBag.CORREO
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Contraseña
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        <div class="alert alert-danger">
                            @ViewBag.CONTRASEÑA
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Celular
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="alert alert-danger">
                            @ViewBag.CELULAR
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp; Correo Secundario
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CorreoSecundario, new { htmlAttributes = new { @class = "form-control"} })
                        <div class="alert alert-danger">
                            @ViewBag.CORREOSECUNDARIO
                        </div>
                    </div>
                </div>
                <br />
                @if (@ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <strong>Intente otra vez!!&nbsp;</strong> @ViewBag.ErrorMessage
                    </div>
                }
                <br />
                <label class="checkbox">
                    <span class="center-block"> <a href="/Usuarios/Login">Volver al Login</a></span>
                </label>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Crear</button>
            </div>
        </div>

    </div>
    <br />
}