@model EventosUPC.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nro_asistentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nro_asistentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_evento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
